{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "printWidth": 100,
    "useTabs": false,
    "importOrder": [
      "^react\\w*|prop-types",
      "<THIRD_PARTY_MODULES>",
      "^@material-ui/(.*)$",
      "^src/(components/|components|layouts)",
      "^src/common/hooks/(.*)$",
      "^[./]|^src/\\w+"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }